extends layout

block content

        h1= title
        
        h5 SIHISEE web app is developed by Aleksi Vuorenmaa. 
        p It uses Instagram API Platform to access the Instagram data. 
        p It's running on Node.js with Express framework and Bootstrap front-end. How nice is that? 
        h4 Try it yourself! Start here: 
        a(href=link, class=['btn', 'btn-lg', 'btn-success']) Start here
