extends layout

block content

        h1= title
        
        h5 SIHISEE web app is developed by Aleksi Vuorenmaa. 
        p It uses Instagram API Platform to access the Instagram data. 
        p It's running on Node.js with Express framework and Bootstrap front-end. How nice is that? 
        p Sihisee repository is 
         a(href='https://github.com/allecter/Sihisee', target='_blank') publicly available at GitHub 
         | and it is licensed under the 
         a(href='https://www.gnu.org/licenses/gpl-3.0.en.htmlGNU', target='_blank') General Public License v3.0
         |. Just Wow! 
        h4 Try it yourself! Start here: 
        a(href=link, class=['btn', 'btn-lg', 'btn-success']) Start here
