extends layout

block content

        h1 Welcome!
        
        p You must first login to Instagram and authorize the search.
        h3 Start here: 
        a(href=link, class=['btn', 'btn-lg', 'btn-success']) Check your hottest Instagram post! 
        p 
