extends layout

block content

        h1= title
        
        h3 Here is your most liked recent* post on Instagram:
        img(src='#{fotos}', class='img-thumbnail')
        p

block side_content

        h3 It has #{likes} likes. Wohoo!
        p 
          a(href='#{link}', class=['btn', 'btn-lg', 'btn-default'], target='_blank') See it in Instagram!
        p *) Sihisee checks only from your 20 most recent Instagram posts (at the moment).
        h5 Thanks for using SIHISEE. 
        h5 Have a good one!
        p