body {
  padding: 0.1em 10em 5em 10em;
  font: 1.3em "Lucida Grande", Helvetica, Arial, sans-serif !important;
  background-color: #ddd !important;
}

a {
  color: #00B7FF;
}

h1 {
  padding-bottom: 10px !important;

}

h4 {
  font-size: 1.4em !important;
  padding: 0 !important;
  margin: 0 !important;
}

h5 {
  font-size: 1.5em !important;
  padding-top: 0.2em !important;
  margin-bottom: 0.2em !important;
}


.suuri {
  padding-top: 0.2em !important;
  font-size: 7.5em;
}
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0 !important;
      padding-bottom: 0.2em !important;
      border-radius: 0;
      background-color: #999;
      color: #00B7FF;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
      /* height: 750px; */
      background-color: #f1f1f1 !important;
    }
    
    /* Set background color and 100% height */
    .sidenav {  
      padding-top: 0.4em;
      background-color: #aaa !important;
      height: 100%;
      font-size: 0.8em;
    }
    
    /* Set background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 0.1em;
      font-size: 0.7em;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      body{
        padding: 0.1em;
      }
      .sidenav {
        height: auto;
        padding: 0.1em;
      }
      .row.content {
        height:auto;
      } 
    }
